*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    background-color: var(--background-color);
}

.hide-mobile{
    display: none;
}


.menu-icon {
    transform: translateX(0);
}

.open-icon {
    cursor: pointer;

}


@media only screen and (min-width: 500px){
    .hide-mobile {
        display: unset;
    }

    .hide-desktop {
        display: none;
    }
}