:root {
  --color-light: #6C7667;
  --background-color: #E8F5E2;
  --color-span: #779469;
  --color-span-save: #608A4D;
  --color-white: #fff;
  --color-black: #000;
  --background-color-btn: #9BC588;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  background-color: var(--background-color);
}

.hide-mobile {
  display: none;
}

.menu-icon {
  transform: translateX(0);
}

.open-icon {
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .hide-mobile {
    display: unset;
  }
  .hide-desktop {
    display: none;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 1em;
}
.header nav {
  display: flex;
  margin: 0;
  transition: transform 0.5s;
  transform: translateX(100);
}
.header nav ul {
  list-style-type: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  background-color: var(--color-span);
  text-align: center;
  margin: 0;
  padding: 3em;
}
.header nav ul .close-icon {
  width: 30px;
  height: 30px;
  display: flex;
  margin-left: 0;
  margin-bottom: 4em;
  cursor: pointer;
}
.header nav ul li {
  margin-bottom: 2em;
  font-size: 1.6em;
}
.header nav ul li a {
  text-decoration: none;
  color: var(--color-white);
}
.header nav ul li a:hover {
  color: var(--color-span-save);
  font-weight: bold;
}

.first-section {
  padding-top: 1.5em;
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 2em;
}
.first-section h1 {
  margin: 0 auto;
  font-size: 2em;
  width: 280px;
  margin-bottom: 1em;
}
.first-section .users-section {
  font-weight: 300;
  width: 250px;
  margin: 0 auto;
}
.first-section .users-section .users-images {
  margin-bottom: 2em;
  margin: 0 auto;
}
.first-section .users-section .users-images img {
  padding: 0;
  margin-left: -1.3em;
  display: inline;
  width: 60px;
  height: 60px;
}
.first-section .users-section .users-images .img-first {
  margin-left: 0.3em;
  height: 55px;
  width: 55px;
}

.feature-section {
  padding: 3em 1.5em;
  border-bottom: 2px solid var(--color-black);
}
.feature-section .col-1 {
  display: flex;
  flex-direction: column;
}
.feature-section .col-1 .first-col1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2em;
}
.feature-section .col-1 .first-col1 span {
  padding: 0.1em 0.5em;
  background-color: black;
  color: white;
  border-radius: 50%;
  font-size: 1em;
  font-weight: 700;
  align-items: center;
  margin-right: 1em;
  align-self: center;
  display: inline-block;
}
.feature-section a {
  text-align: center;
  text-decoration: none;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  color: var(--color-balck);
  padding: 0.5em 1em;
  background-color: var(--background-color-btn);
  margin: 1em;
  border: 2px solid #000;
  box-shadow: 4px 4px 0px 0px #000;
  font-weight: 700;
  border-radius: 4px;
  gap: 0.5em;
}

.black-section {
  background-color: var(--color-black);
  padding: 3em 2em;
  height: 320px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.black-section img {
  width: 100px;
  height: 50px;
  margin: 0 auto;
  margin-top: -1em;
}

.frames-section {
  padding: 0 1em;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-white);
  padding-bottom: 3em;
}
.frames-section .frames-col1 {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: -5em;
  margin-bottom: 3em;
}
.frames-section .frames-col1 .frame {
  width: 349px;
  height: 204px;
  border-radius: 4px;
  border: 2px solid #000;
  box-shadow: 4px 4px 0px 0px #000;
  position: relative;
}
.frames-section .frames-col1 .frame h4 {
  font-size: 1em;
  font-weight: 700;
  padding: 1.12em;
  margin-top: 0;
  margin-bottom: 0;
  background-color: hsl(0, 0%, 100%);
}
.frames-section .frames-col1 .frame .frame-background {
  width: 345px;
  height: 144px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.frames-section .frames-col1 .frame .frame-background span {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 0.7em 1em;
  border-top-left-radius: 4px;
  font-size: 1.375em;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: -0.1em;
  text-align: left;
}
.frames-section .frames-col1 .frame .frame-1-img {
  background-image: url(/images/frame-1.jpeg);
  background-position-y: 60%;
}
.frames-section .frames-col1 .frame .frame-2-img {
  background-image: url(/images/frame-2.jpeg);
  background-position-y: 80%;
}
.frames-section .frames-col1 .frame .frame-3-img {
  background-image: url(/images/frame-3.jpeg);
  background-position-y: 80%;
}
.frames-section .frames-col1 .frame .frame-4-img {
  background-image: url(/images/frame-4.jpeg);
}
.frames-section .frames-col1 .frame .frame-5-img {
  background-image: url(/images/frame-5.jpeg);
}
.frames-section .frames-col1 .frame .frame-6-img {
  background-image: url(/images/frame-6.jpeg);
}
.frames-section .frames-col2 {
  margin: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
}
.frames-section .frames-col2 img {
  width: 35px;
  height: 35px;
}
.frames-section .frames-col2 a {
  font-size: 1.625em;
  color: var(--color-black);
}

footer {
  padding: 2.6875em 2.6875em 2em 0.9em;
  border-top: 2px solid var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
}
footer header {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
footer header img {
  width: 150px;
  height: 33px;
  margin: 0;
}
footer header .socail .socials-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer header .socail .socials-images img {
  width: 35px;
  height: 35px;
}
footer .footer-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}
footer .footer-div ul {
  display: flex;
  justify-content: space-between;
}
footer .footer-div ul li {
  list-style-type: none;
  font-size: 1.25em;
}
footer .footer-div ul li a {
  text-decoration: none;
  color: var(--color-black);
}
footer .footer-div div {
  text-align: center;
  margin-bottom: 2em;
  color: var(--color-light);
}

@media only screen and (min-width: 600px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header nav ul {
    position: unset;
    width: unset;
    height: unset;
    display: flex;
    padding: unset;
    background-color: unset;
  }
  .header nav ul .hide-desktop {
    display: none;
  }
  .header nav ul li {
    margin: unset;
    font-size: 1.12em;
  }
  .header nav ul li a {
    color: var(--color-black);
  }
}/*# sourceMappingURL=main.css.map */