@use 'variables';
@use 'global';

.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 1em;

    nav {
        display: flex;
        margin: 0;
        transition: transform .5s;
        transform: translateX(100);

        ul {
            list-style-type: none;
            position: fixed;
            top: 0;
            right: 0;
            height: 100vh;
            width: 300px;
            background-color: var(--color-span);
            text-align: center;
            margin: 0;
            padding: 3em;

            .close-icon {
                width: 30px;
                height: 30px;
                display: flex;
                margin-left: 0;
                margin-bottom: 4em;
                cursor: pointer;
            }
            
            li {
                margin-bottom: 2em;
                font-size: 1.6em;
                
                a {
                    text-decoration: none;
                    color: var(--color-white);
                }

                a:hover {
                    color: var(--color-span-save);
                    font-weight: bold;
                }
            }
        }
    }
}

.first-section {
    padding-top: 1.5em;
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 2em;
    
    h1 {
        margin: 0 auto;
        font-size: 2em;
        width: 280px;
        margin-bottom: 1em;
    }

    .users-section {
        font-weight: 300;
        width: 250px;
        margin: 0 auto;

        .users-images {
            margin-bottom: 2em;
            margin: 0 auto;

            img {
                padding: 0;
                margin-left: -1.3em;
                display: inline;
                width: 60px;
                height: 60px;
                object-fit: cover;
                border-radius: 50%;
            }

            .img-first {
                margin-left: .3em;
                height: 55px;
                width: 55px;
            }
        }
    }
}


.feature-section {
    padding: 3em 1.5em;
    border-bottom: 2px solid var(--color-black);

    .col-1 {
        display: flex;
        flex-direction: column;

        .first-col1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 1.2em;

            span {
                padding: .1em .5em;
                background-color: black;
                color: white;
                border-radius: 50%;
                font-size: 1em;
                font-weight: 700;
                align-items: center;
                margin-right: 1em;
                align-self: center;
            }

        }
    }

    a {
        text-align: center;
        text-decoration: none;
        font-size: 1.3em;
        display: flex;
        justify-content: center;
        color: var(--color-balck);
        padding: .5em 1em;
        background-color: var(--background-color-btn);
        margin: 1em;
        border: 2px solid #000;
        box-shadow: 4px 4px 0px 0px #000;
        font-weight: 700;
        border-radius: 4px;
        gap: .5em;
    }
}


.black-section {
    background-color: var(--color-black);
    padding: 3em 2em;
    height: 320px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    img {
        width: 100px;
        height: 50px;
        margin: 0 auto;
        margin-top: -1em;
    }

}

.frames-section {
    padding: 0 1em;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-white);
    padding-bottom: 3em;

    .frames-col1 {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-top: -5em;
        margin-bottom: 3em;
               
        .frame {
            width: 349px;
            height: 204px;
            border-radius: 4px;
            border: 2px solid #000;
            box-shadow: 4px 4px 0px 0px #000;
            position: relative;

            h4 {
                font-size: 1em;
                font-weight: 700;
                padding: 1.12em;
                margin-top: 0;
                margin-bottom: 0;
                background-color: hsl(0, 0%, 100%, 1);
                
            }

            .frame-background {
                width: 345px;
                height: 144px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

                span {
                    background-color: var(--color-black);
                    color: var(--color-white);
                    padding: 0.7em 1em;
                    border-top-left-radius: 4px;
                    font-size: 1.375em;
                    font-weight: 700;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    margin-bottom: -.1em;
                    text-align: left;
                }
            }

            .frame-1-img {
                background-image: url(/images/frame-1.jpeg);
                background-position-y: 60%;
            }

            .frame-2-img {
                background-image: url(/images/frame-2.jpeg);
                background-position-y: 80%;
            }
            
            .frame-3-img {
                background-image: url(/images/frame-3.jpeg);
                background-position-y: 80%;
            }

            .frame-4-img {
                background-image: url(/images/frame-4.jpeg);
            }

            .frame-5-img {
                background-image: url(/images/frame-5.jpeg);
            }

            .frame-6-img {
                background-image: url(/images/frame-6.jpeg);
            }
        }
    }

    .frames-col2 {
        margin: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .7em;

        img {
            width: 35px;
            height: 35px;
        }

        a {
            font-size: 1.625em;
            color: var(--color-black);
        }
    }
}

footer {
    padding: 2.6875em 2.6875em 2em .9em;

    border-top: 2px solid var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;

    header {
        display: flex;
        justify-content: space-between;
        text-align: center;

        img {
            width: 150px;
            height: 33px;
            margin: 0;
        }

        .socail {

            .socials-images {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                img {
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }


    .footer-div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1em;

        ul {
            display: flex;
            justify-content: space-between;

            li {
                list-style-type: none;
                font-size: 1.25em;

                a {
                    text-decoration: none;
                    color: var(--color-black);
                }
            }
        }

        div {
            text-align: center;
            margin-bottom: 2em;
            color: var(--color-light);
        }

    }
}


////////////////////////
/// Media For Tablet ///
///////////////////////

@media only screen and (min-width: 650px) {

    .header {
        display: flex;
        justify-content: space-between;
        padding-left: 1em;
        padding-right: 1em;

        nav {

            ul {
                position: unset;
                width: unset;
                height: unset;
                display: flex;
                padding: unset;
                background-color: unset;
                gap: 1em;

                .hide-desktop {
                    display: none;
                }

                li {
                    margin: unset;
                    font-size: 1.12em;

                    a {
                       color: var(--color-black);
                    }
                }
            }
        }

        .start-btn {
            text-decoration: none;
            color: var(--color-black);
            padding: 0.3em 1em;
            border-radius: 4px;
            border: 1px solid #000;
            background-color: var(--background-start-btn);
            font-weight: 700;
            font-size: 1.12em;
        }
    }

    .first-section {
        text-align: left;
        padding: 1.5em;
        margin-top: 2em;
        margin-bottom: 2em;

        .first-section-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 3em;

            img {
                margin-top: -4em;
            }
        }

        h1 {
            margin: unset;
            width: 490px;

        }

        .users {
            display: flex;
            gap: 2em;

            .users-section {
                 margin: unset;

                p {
                    font-size: 1em;
                }
                
                .users-images {
                    margin: unset;
                    
                    img {
                        width: 48px;
                        height: 48px;
                    }

                    .img-first {
                        width: 45px;
                        height: 45px;
                    }
                }
            }

            .user-talked {
                display: flex;
                background-color: var(--color-white);
                padding: 1em;
                border-radius: 2em;
                gap: 1em;
                justify-content: space-between;

                img {
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    margin: 0;
                }

                .white-space-user {
                    display: flex;
                    flex-direction: column;

                    p {
                        margin: 0;
                    }

                    span {
                        margin: 0;
                    }
                }
            }
        }

        
    }

    .feature-section {
        padding-left: 2em;
        padding-right: 2em;

        .col-1 {
            display: flex;
            flex-direction: row;
            text-align: left;
            gap: 2em;

            .first-col1 {
                display: flex;
                flex-direction: column;
                align-items: unset;
                justify-content: left;
                text-align: left;

                span {
                    align-self: first baseline;
                }
            }
        }

        a {
            display: inline-block;
            font-size: 1.375em;
        }
    }


    .black-section {
        display: flex;
    }

    .frames-section {
        padding: 0 4em;

        .frames-col1 {
            display: grid;
            grid-template-columns: repeat(2, auto);
    }
    }

}
