:root {
    --color-light: #6C7667;
    --background-color: #E8F5E2;
    --color-span: #779469;
    --color-strong-save: #608A4D;
    --color-white: #fff;
    --color-black: #000;
    --background-color-btn: #9BC588;
    --background-start-btn: #C6DBBD;
}